:root {
    --color-primary: #f4e5c2;
    --color-secondary: #3b7a57;
    --color-text: #fffbf0;
    --color-bg: #1e1e1e;
    --color-card: #2a2a2a;
    --color-btn-active: #444444;
}

body, 
html
{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 62.5%;
    background-color: var(--color-bg);
    min-height: 100vh;
    margin: 0;
}

#content {
  height: 100%;
}

header {
    position: fixed;
    display: flex;
    gap: 4rem;
    align-items: center;
    background-color: var(--color-card);
    border-radius: 0.8rem;
    margin: 2rem;
    padding: 0.8rem 1rem;
    z-index: 1;
    box-shadow: 0 0 5px var(--color-bg);
}

#logo {
    font-weight: 700;
    color: var(--color-primary);
}

#logo > p {
    margin: 0;
    line-height: 1;
}

#logo > p:first-child {
   font-size: 2.8rem;
}

#logo > p:last-child {
   font-size: 2.6rem;
}

nav {
    display: flex;
    gap: 2rem;
}

nav > button {
    font-size: 1.6rem;
    color: var(--color-primary);
    background: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    cursor: pointer;
}

nav > button.active {
    background-color: var(--color-btn-active);
}

.home-container {
    display: flex;
    height: 100vh;
    max-height: 100vh;
    background-image: url(assets/home-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 0.8rem;
    margin: 1rem;
    flex: 4;
}

.hero-section h1, 
.hero-section p {
    color: var(--color-primary);
    margin: 0;
    padding-left: 2rem;
}

.hero-section h1:first-child {
    font-size: 8rem;
    line-height: 0.8; 
}

.hero-section h1:nth-child(2) {
    font-size: 9.4rem;
    line-height: 0.8; 
}

.hero-section p {
    font-size: 2.4rem;
    font-style: italic;
    padding-top: 0.6rem;
    padding-bottom: 1rem;
}

.right-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    margin: 2rem;
}

.right-section {
    font-size: 2rem;
    text-align: justify;
    color: var(--color-text);
    background-color: var(--color-card);
    border-radius: 0.8rem;
    padding: 1rem;
    flex: 1;
}

.right-section > h2 {
    margin: 1rem;
}

.right-section > p {
    margin: 1rem;
}

.menu-container {
    padding: 12rem 2em 2rem 2rem;
}

.menu-list > div:first-child {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu-list > div > h1 {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--color-primary)
}

.menu-list > div > hr {
    flex-grow: 1;
    height: 2px;
    border: none;
    background-color: var(--color-primary)
}

.menu-list > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.menu-card {
    display: grid;
    background-color: var(--color-card);
    border-radius: 0.8rem;
}

.menu-img {
    position: relative;
    height: 30rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.8rem 0.8rem 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 1rem;
}

.menu-img p {
    position: absolute;
    font-size: 2.4rem;
    color: var(--color-text);
    background-color: var(--color-secondary);
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    bottom: -4rem;
}

.menu-details {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2rem;
}

.menu-details > h2 {
    font-size: 2.2rem;
    color: var(--color-text);
    margin: 0;
}

.menu-details > p {
    font-size: 1.8rem;
    color: var(--color-text);
    padding-top: 1rem;
    margin: 0;
}

.contact-container {
    box-sizing: border-box;
    background-image: url(assets/contact-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    height: 100vh;
    padding: 12rem 2em 2rem 2rem;
}

.contact-container::before {
  content: "";
  position: absolute;
  inset: 0; 
  background-color: var(--color-bg); 
  opacity: 0.8;
  z-index: 0;
}

.contact-container > * {
  position: relative;
  z-index: 1;
}

.contact-container > div:first-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-container > div:last-child {
    flex: 1;
}

.contact-container > div:first-child > p {
    font-size: 2rem;
    color: var(--color-text);
}

.contact-div > h1 {
    font-size: 6rem;
    color: var(--color-text);
    margin: 0;
    line-height: 0.8;
}

.contact-div > p {
    font-size: 2rem;
    color: var(--color-text);
    margin: 0;
    padding: 0.8rem 0 0.8rem 0;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
}

.contact-header h2 {
    font-size: 3rem;
    color: var(--color-text);
    line-height: 1.5;
    margin: 0;
}

.contact-header p {
    font-size: 2rem;
    color: var(--color-text);
    margin: 0;
    padding-bottom: 2rem;
    color: var(--color-text);
}

label {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: var(--color-text);
}

input[type="text"],
input[type="email"],
textarea {
    font-size: 1.6rem;
    width: 100%;
    padding: 1.8rem;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: var(--color-card);
    border: none;
    color: var(--color-text);
}

textarea {
    resize: vertical;
}

.contact-form-container > label,
.contact-form-container > input,
.contact-form-container > textarea {
    margin-bottom: 1rem;
}

button[type="submit"] {
    padding: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-text);
    background-color: var(--color-secondary);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
}